<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<add name="databaseConnect" connectionString= "Data Source=MALAIKA\SQLEXPRESS;Initial Catalog=SWD606;Integrated Security=True;Encrypt=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
	</connectionStrings>					<!--Data Source=ASDFGHJKL123\SQLEXPRESS;Initial Catalog=SWD606;Integrated Security=True;Encrypt=True;TrustServerCertificate=True-->
</configuration>							<!--Data Source=JP_F15\SQLEXPRESS;Initial Catalog=SWD606;Integrated Security=True;Encrypt=True;TrustServerCertificate=True-->
											<!--"Data Source=MALAIKA\SQLEXPRESS;Initial Catalog=SWD606;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"-->